{% extends "app_analysis/base.html" %}

{% block content %}



<section class="section is-flex is-justify-content-center is-align-items-center" style="min-height: 100vh;">
	<div class="container has-text-centered">
		<div class="buttons mt-4 is-flex is-justify-content-center">
			<a href="{% url 'upload' %}" class="button is-primary is-medium">Upload File</a>
			<a href="{% url 'analysis' %}" class="button is-link is-medium ml-2">Analysis</a>
		</div>
		<div class="list is-hoverable mt-5">
			{% for file in files %}
				<div class="box">
					<h5 class="title is-5 has-text-weight-bold">{{ file.name }}</h5>
					<p class="subtitle is-6">Uploaded at {{ file.date }}</p>
					<div class="buttons is-flex is-justify-content-center">
						<a href="{% url 'file_detail' file.id %}" class="button is-info is-small">Detail</a>
						<a href="{% url 'updatefile' file.id %}" class="button is-warning is-small ml-2">Update</a>
						<a href="{% url 'delete-file' file.id %}" class="button is-danger is-small ml-2">Delete</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}

