{% extends "app_analysis/base.html" %}
{% block content %}


<a href="{% url 'displlAndodds' %}">Diplay loglikelihood and odds</a>

<style>
    table {
        th,td {
            text-align: center;
            padding: 2px;
            width: 100px;
        }
        .table-container {
            width: 100%;
            overflow-x: auto;
        }
    }
</style>


    <ul>
        <div class="table-container">
            <table border="1">
                <thead>
                    <tr>
                        {% for file in filename %}
                            <th> {{ file }} Word </th>
                            <th> {{ file }} Count </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in results %}
                        <tr>
                            {% for word in row %}
                                    {% if word %}
                                        <th> {{ word.word }} </th>
                                        <th> {{ word.count }} </th>
                                    {% else %}
                                        <th>-</th>
                                        <th>-</th>
                                    {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
                <div class="pagination">
                    <span class="step-links">
                        {% if results.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ results.previous_page_number }}">previous</a>
                        {% endif %}
        
                        <span class="current">
                            Page {{ results.number }} of {{ results.paginator.num_pages }}.
                        </span>
        
                        {% if results.has_next %}
                            <a href="?page={{ results.next_page_number }}">next</a>
                            <a href="?page={{ results.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
        
            </ul>

{% endblock %}
