{% extends "app_analysis/base.html" %}

{% block content %}
<section class="section">
    <div class="container has-text-centered mt-5">
        <form method="POST" action="" enctype="multipart/form-data" class="card p-4">
            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <div class="buttons mt-4 is-centered">
                <input type="submit" value="Submit" class="button is-primary" />
            </div>
        </form>
    </div>
</section>
{% endblock %}